/* style.css - retro, maintainable, all comments in English */

/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- VARIABLES ---------- */
:root {
  /* ---------- In use ----------   */
  --background: #000000;
  --dark: #010501;
  --panel-bg: #0a1c05;
  --border-green: #3a7a2f;
  --trtd: #2b6320;
  --text-green: #b3ff99;
  --text-orange: #ffcc77;
  --up-green: #aaff88;
  --down-red: #ff7b7b;
  --neutral-grey: #c9c97a;
  --dashed-green: #4a8c3a;
  --countdown-label: #7cb05c;
  --console-print: #c4b47c;
  --console-panel-light: #c4c0a8;
  --console-panel-medium: #a8a48c;
  --console-panel-dark: #949078;
  --paint-green-light: #4a4a2c;
  --paint-green-medium: #3d3d24;
  --paint-green-dark: #34341e;
  --paint-sepia-light: #6b4c3a;
  --paint-sepia-medium: #5a3f2f;
  --paint-sepia-dark: #4a3326;
  /* Sin Uso */
  --defcon-rojo: ;
  --defcon-naranja: ;
  --defcon-amarillo: ;
  --defcon-azul: #1a3a5a;
  --defcon-verde: ;
}

/* ---------- BASE & TYPOGRAPHY ---------- */
html {
  font-family: 'Courier New', 'VT323', monospace;
  text-align: center;
  text-transform: uppercase;
}
body {
  background-color: var(--console-panel-medium);
}

.Header {
  background-color: var(--console-panel-dark);
}
.Navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  color: var(--text-green);
  background-color: var(--dark);
}
.Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6.1rem;
  font-weight: bolder;
  color: var(--console-panel-light);
  padding: 1.5rem;
}

.Console {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  /*padding-left: min(50px, 7%);
  padding-right: min(50px, 7%);*/
  border: 2px solid purple;
}
.Panel {
  display: grid;
  grid-template-columns: repeat(autofit, 300px);
  max-width: 1024px;
  color: var(--console-panel-light);
  gap: 2em;
  /*padding: 0 2em;*/
  background-color: var(--console-panel-medium);
  border: 2px solid red;
}

h1 {
  margin: 30px, 0;
}
.card {
  text-align: center;
  color: var(--text-green);
  padding: 2em;
  background-color: var(--trtd);
  border: solid var(--border-green);
  border-radius: 1rem;
}


/*.debug-border {
  border: 2px solid red;
}*/
